<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://windows-function-app-cbc-ai-speech.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0fea5828-93e3-4f35-8032-512c856d275f/resourceGroups/CBC-AI-Speech-actual-gibbon/providers/Microsoft.Web/sites/windows-function-app-cbc-ai-speech</ResourceId>
    <UserName>$windows-function-app-cbc-ai-speech</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://windows-function-app-cbc-ai-speech.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>